apiclient
beautifulsoup4
cfscrape
deluge_client
fabric
gdata
geoip2
gmusicapi
google-api-python-client
google-auth-oauthlib
google-oauth
gspread
httplib2
imdbpy
isodate
KickassAPI
ThePirateBay
lxml
matplotlib
musicbrainzngs
mutagen
numpy
oauth2client
patchwork
pathos
Pillow
pyasn1
pyasn1-modules
pyqt5
PyQtWebEngine
python-geoip-geolite2
python-magic
pytz
qtmodern
rapidfuzz
requests
requests_oauthlib
rsa
six
sphinx-argparse
sphinx-issues
sphinx_rtd_theme
SQLAlchemy
subliminal
tabulate
termcolor
titlecase
validators
yt_dlp
sphinxcontrib-youtube @ git+https://github.com/sphinx-contrib/youtube.git@master
sphinxcontrib-svg2pdfconverter @ git+https://github.com/missinglinkelectronics/sphinxcontrib-svg2pdfconverter.git@master
