apiclient
beautifulsoup4
cfscrape
fabric
ffmpeg_normalize
gdata
geoip2
gmusicapi
google-api-python-client
google-auth-oauthlib
google-oauth
gspread
httplib2
imdbpy
isodate
ive_tanim
KickassAPI
ThePirateBay
matplotlib
musicbrainzngs
mutagen
numpy
oauth2client
patchwork
pathos
Pillow
pyasn1
pyasn1-modules
plexapi
pyqt5
PyQtWebEngine
python-geoip-geolite2
python-magic
pytz
qtmodern
rapidfuzz
requests
requests_oauthlib
sphinx-argparse
sphinx-issues
SQLAlchemy
subliminal
tabulate
termcolor
titlecase
torf
tqdm
validators
yt_dlp
sphinxcontrib-youtube
sphinxcontrib-svg2pdfconverter
transmission-rpc
