apiclient
beautifulsoup4
cfscrape
deluge_client
fabric
fuzzywuzzy
gdata
gmusicapi
google-api-python-client
google-auth-oauthlib
google-oauth
gspread
httplib2
isodate
KickassAPI
ThePirateBay
lxml
matplotlib
musicbrainzngs
mutagen
numpy
oauth2client
pathos
pyasn1
pyasn1-modules
pypandoc
python-Levenshtein
pytz
pyxdg
requests
rsa
six
SQLAlchemy
termcolor
titlecase
validators
youtube_dl
