apiclient
beautifulsoup4
cfscrape
deluge_client
fabric
fuzzywuzzy
gdata
gmusicapi
google-api-python-client
gspread
httplib2
KickassAPI
ThePirateBay
lxml
matplotlib
mutagen
numpy
oauth2client
pathos
pyasn1
pyasn1-modules
pypandoc
python-Levenshtein
pytz
pyxdg
requests
rsa
six
SQLAlchemy
titlecase
validators
youtube_dl
