apiclient
beautifulsoup4
cfscrape
deluge_client
fabric
fuzzywuzzy
gdata
geoip2
gmusicapi
google-api-python-client
google-auth-oauthlib
google-oauth
gspread
httplib2
imdbpy
isodate
KickassAPI
ThePirateBay
lxml
matplotlib
musicbrainzngs
mutagen
numpy
oauth2client
patchwork
pathos
Pillow
pyasn1
pyasn1-modules
pypandoc
python-geoip-geolite2
python-Levenshtein
python-magic
pytz
qdarkstyle
requests
requests_oauthlib
rsa
six
SQLAlchemy
subliminal
tabulate
termcolor
titlecase
validators
youtube_dl
git+https://github.com/sphinx-contrib/youtube.git#egg=sphinxcontrib-youtube
